
@media(max-width: 1400px) {
    
    .goals .full .h-box p {
        width: 45%;
    }
    .footer-style .footer-p1 .footer-col p {
        width: 85%;
    }
}
@media(max-width: 1366px) {
    img#theme-icon{
        margin-left: 40px;
    }
    .mobile-nav {
        padding: 40px 30px 15px;
    }
}
@media(max-width: 1200px) {
    .header-style {
        position: relative;
        background-color: #fff;
    }
    .desktop-nav .nav-bar .extras .menu-start {
        display: block;
    }
    .desktop-nav .nav-bar .extras #desktop-menu {
        display: none;
    }
    .goals .heading h2 {
        margin-bottom: 70px;
    }
    .banner-style {
        padding-top: 80px;
    }
    .footer-style .footer-p-1 {
        padding: 80px 0;
    }
}
@media(max-width: 1030px) {
    
    .gap {
        padding: 80px 0;
    }
    .no-top {
        padding-top: 0;
    }
    .no-bottom {
        padding-bottom: 0;
    }
}
@media(max-width: 992px) {
    
    .goals .heading h2 {
        margin-bottom: 50px;
    }
    .goals .h-box h2 {
        font-size: 70px;
        margin-top: 10px;
    }
    #timeline {
        left: -30px;
    }
    .footer-style .footer-p1 .footer-col p {
        width: 100%;
    }
    .footer-style .ffooter-p2 .footer-col p {
        width: 100%;
        margin-bottom: 20px;
        text-align: center;
    }
    .footer-style .ffooter-p2.rights .footer-col {
        flex-wrap: wrap;
        justify-content: center;
    }
    .footer-p1 .footer-col {
        margin-bottom: 40px;
    }
    .footer-style .footer-p1 .footer-col h3 {
        margin-bottom: 15px;
    }
    .banner-style {
        padding-top: 80px;
        padding-bottom: 50px;
    }
    .banner-style .banner-details {
        padding-bottom: 20px;
        box-sizing: border-box;
        padding: 50px;
    }
    .fix {
        display: flex;
        flex-direction: column;
    }
    .box {
        width: 200px;
        height: 200px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        box-sizing: border-box;
        padding: 20px;
    }
}
@media(max-width: 767px) {
    .mobile-nav {
        width: 55%;
    }
    .goals .heading h2 {
        margin-bottom: 40px;
    }
    .goals .h-box h2 {
        font-size: 60px;
    }
    .banner-style {
        padding-top: 80px;
        padding-bottom: 50px;
    }
    .banner-style .banner-details {
        padding-bottom: 20px;
        box-sizing: border-box;
        padding: 50px;
    }
    .box {
        width: 200px;
        height: 200px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        box-sizing: border-box;
        padding: 20px;
    }
    .fix {
        display: flex;
        flex-direction: column;
    }
    .banner-style .banner-details h2 {
        font-size: 50px;
    }
    .footer-p1 .footer-col {
        margin-bottom: 30px;
    }
    .footer-style .footer-p1 .footer-col p {
        width: 100%;
    }
    .footer-style .footer-p1 {
        padding: 60px 0 30px;
    }
    .gap {
        padding: 60px 0;
    }
    .no-top {
        padding-top: 0;
    }
    .no-bottom {
        padding-bottom: 0;
    }
    .footer-style .footer-p-1 {
        padding: 60px 0;
    }
}
@media(max-width: 600px) {
    .mobile-nav {
        width: 75%;
    }
    .detail-page p span {
        line-height: 26px;
        display: unset;
    }
    
    .goals.detail-page .spacee {
        padding-left: 40px;
        padding-right: 20px;
    }
    #timeline {
        width: 10px;
        left: 18px;
    }
    .banner-style .banner-details h2 {
        font-size: 40px;
        line-height: 50px;
    }
    .footer-style .ffooter-p2.rights .footer-col {
        padding: 30px 20px;
    }
}
@media(max-width: 480px) {
    .goals-style-one .goals-data .details {
        padding: 30px;
    }
    #timeline {
        height: 92%;
    }
    .mobile-nav {
        width: 100%;
    }
    .goals .heading h2 {
        margin-bottom: 30px;
    }
    .goals .h-box h2 {
        font-size: 50px;
    }
}
@media(max-width: 425px) {
    #timeline {
        height: 92%;
    }
    .heading h2 {
        width: 80%;
    }
}
@media(max-width: 375px) {
    #timeline {
        height: 92%;
    }
}